body {
  padding-top: 76px;
}

a.lead, footer a {
  text-decoration: none;
}

a.lead:hover, footer .col-4 a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .fixed-top {
    position: relative;
  }
}